In [1]:
# Ignore Warnings.
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt
import scipy.stats as st
import seaborn as sns
from matplotlib import cm
import re
# Import the data
Hurricane_df = pd.read_csv('Raw Atlantic Storm Data.csv')


# Convert date column as datetime.
Hurricane_df['Date'] = pd.to_datetime(Hurricane_df['Date'] , format= '%Y%m%d')
Hurricane_df = Hurricane_df[['ID', 'Name', 'Date', 'Time', 'Status', 'Latitude', 'Longitude', 'Maximum Wind']]

In [3]:
Hurricane_df.tail(5)

,ID,Name,Date,Time,Status,Latitude,Longitude,Maximum Wind
49100,AL122015,KATE,2015-11-12,1200,EX,41.3N,50.4W,55
49101,AL122015,KATE,2015-11-12,1800,EX,41.9N,49.9W,55
49102,AL122015,KATE,2015-11-13,0,EX,41.5N,49.2W,50
49103,AL122015,KATE,2015-11-13,600,EX,40.8N,47.5W,45
49104,AL122015,KATE,2015-11-13,1200,EX,40.7N,45.4W,45

In [4]:
# Create csv file & export data
Hurricane_df.to_csv("new_data_atlantic.csv")